<mat-toolbar color="primary">
    <div class="flex items-center justify-between w-full">
      <div>Indian Rug Gallery</div>
      <div class="mt-5">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Search">
            <button mat-button matSuffix>
              <i class="fa-light fa-magnifying-glass fa-2x"></i>
            </button>
          </mat-form-field>
      </div>
      <div class="">
        <div class="social-buttons">
            <button mat-icon-button>
                <i class="fa-brands fa-facebook-f"></i>
            </button>
            <button mat-icon-button>    
              <i class="fa-brands fa-instagram"></i>
            </button>
            <button mat-icon-button>
                <i class="fa-brands fa-twitter"></i>
            </button>
            <button mat-icon-button>
                <i class="fa-brands fa-youtube"></i>
            </button>
          </div>
      </div>
    </div>
  </mat-toolbar>