<div class="container px-4 w-[100%] mx-auto">
    <h2>Gallery</h2>
    <mat-divider></mat-divider>
    <div class="content mt-4">
        <div class="grid grid-cols-4 gap-4">
            <div>
                <app-card></app-card>
            </div>
            <div>
                <app-card></app-card>
            </div>
            <div>
                <app-card></app-card>
            </div>
            <div>
                <app-card></app-card>
            </div>

        </div>
    </div>
</div>